<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>plan: h</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

</head>

<body>

  <!-- Navigation -->
  {% include navigation.html %}

  <!-- Page Content -->
  {{ content }}


  <!-- Bootstrap core JavaScript -->
  <script src="assets/jquery/jquery.slim.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
